.footer {
    background-color: black;
    padding: 4rem 3rem;
    text-align: center;
}

.footer-nav a,
.copyright p {
    color: white;
}

.footer-nav {
    padding-left: 0;
}

.footer-nav li {
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    position: relative;
}

.footer-nav li a:before {
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    width: 0;
    bottom: 0.8rem;
    left: 0;
    transition: 0.4s ease;
}

.footer-nav li a:hover:before {
    width: 10%;
    left: 45%;
}

.footer-logo {
    padding-bottom: 2rem;
}

.footer-icons {
    padding-block: 1.5rem;
    cursor: pointer;
}

.icon {
    display: inline-block;
    position: relative;
}

.footer-icons .icon {
    margin-right: 1rem;
    position: relative;
}

.footer-icons .icon:before {
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    width: 0;
    bottom: -0.2rem;
    left: 0;
    transition: 0.4s ease;
}

.footer-icons .icon:hover:before {
    width: 60%;
}

@media screen and (min-width: 767px) {

    .footer {
        padding: 3rem;
    }

    .footer,
    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-nav li a:hover:before {
        width: 33%;
        left: 23%;
    }

    .footer-icons {
        text-align: right;
        padding-block: 0;
    }

    .instagram {
        padding-right: 0 !important;
    }

    .footer-left {
        text-align: left;
    }

    .footer-nav {
        margin-block: 0;
    }

    .footer-nav li {
        margin-right: 0.5rem;
    }

    .copyright {
        padding-top: 2rem;
    }

    .footer-logo {
        padding-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding: 3rem 6.5rem;
    }
}

@media screen and (min-width: 900px) {
    .footer-nav li {
        margin-right: 1.5rem;
    }
}