header {
    padding: 3rem 1.5rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
}

.main-nav ul li {
    padding-right: 0.5rem;
    position: relative;
}

.main-nav ul li a:before{
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    width: 0;
    bottom: -1rem;
    left: 0;
    transition: 0.4s ease;
}

.main-nav ul li:hover a:before{
    width: 33%;
    left: 23%;
}

.main-nav a {
    color: white;
}

.open-menu {
    height: 1.2rem;
    cursor: pointer;
}

.logo {
    width: 10rem;
}

@media screen and (min-width: 767px) {
    .open-menu {
        display: none;
    }

    .main-nav {
        position: relative;
    }

    header {
        padding: 3rem 8rem;
    }
}

@media screen and (max-width: 767px) {
    .main-nav nav {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .main-nav ul li {
        padding-right: 1rem;
    }
}